{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>Welcome to Our Banking Services</h1>
    <p>Your financial well-being is our priority.</p>
     <p>Welcome to Your Bank, a trusted financial institution committed to serving your needs.</p>
            <p>With a history spanning decades, we pride ourselves on providing innovative solutions, exceptional customer service, and a strong commitment to financial security.</p>
            <p>Whether you're looking to save, invest, or grow your wealth, we're here to help you achieve your financial goals.</p>
{% endblock %}
