
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: gold;
}

.background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#myVideo {
    object-fit: cover;
}

.container {
    color: gold;
    /*padding: 10px;*/
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*border-radius: 5px;*/
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
    /*flex-grow: 1;*/
}


.footer {
    margin-top: auto;
    /*background-color: #343a40; !* Set a background color for the footer *!*/
    color: gold !important; /* Set the font color to gold */
    text-align: center; /* Center-align the text */
    padding: 10px; /* Add some padding for spacing */
}


/* Custom styles */
/* ... (existing styles) ... */

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style form fields */
.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

/* Style form button */
.form-container button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

#user{
 float: right;
}